<div class="float-start" id="user-nav">
    <p class="title-nav">Client Control System</p>
    <hr class="title-change">
    <ul class="nav flex-column" id="nav-columns">
  
      
   <li class="nav-item" id="column">
      <a class="nav-link" aria-current="Dashboard" routerLink="/dashboard" id="column">
      
        <i class="fa-solid fa-house" style="color: #b0b6bf;"></i>
         Dashboard
        </a>
    </li>  
    <li class="nav-item">
      
      <a class="nav-link " aria-current="Create" routerLink="/create" id="column">
        <i class="fa-sharp fa-solid fa-plus"  style="color: #b0b6bf;"></i>
        Create
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " aria-current="Chat" routerLink="/chat" id="column">
        <i class="fa-solid fa-comments" style="color: #b0b6bf;"></i>
        Chat
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Calendar" routerLink="/calendar" id="column">
        <i class="fa-solid fa-calendar-days" style="color: #b0b6bf;"></i>
        Calendar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Maps" routerLink="/maps" id="column">
        <i class="fa-solid fa-location-dot" style="color: #b0b6bf;"></i>
        Maps
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="Analytics" routerLink="/analytics" id="column">
        <i class="fa-sharp fa-solid fa-chart-simple" style="color: #b0b6bf;" ></i>
        Analytics
      </a>
    </li> 
  </ul>
  </div> 

  
 <div class="float-end bg-light">
    <ul class="nav flex-row">
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fa-solid fa-comment"  style="color: #b0b6bf;"></i></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard" ><i class="fa-solid fa-gear" style="color: #b0b6bf;"></i></a>
      </li>
      <li>
        <a class="dropdown-item" href="#" (click)="onClick()">
            <i class="fa-solid fa-user" style="color: #b0b6bf; display: flex; padding-top: 8px;"></i>
       
        </a>
      </li>

    </ul>
  </div> 





<!--Calendar-->

