/* *{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);

} */
.selector-for-some-widget {
    box-sizing: content-box;
  } 
  
  #user-nav{
    position:fixed;    
    width: 15%;
    max-width: 40%;
    height: 100%;
    align-items: start;
    align-content: start;
    background-image: url("\src\assets\sidebar-white.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    
  }
  
  .title-nav{
  background-color: transparent;
  height: 40px;
  text-align: center;
  align-self: center;
  padding-top: 18px;
  color:  #160c64;
  margin-bottom: 20px;
  font-size: 1.4rem;
  
  }
  .title-change{
  margin:auto;
  height: 2px;
  width: 80%;
  background-color:  gray;
  margin-bottom: 20px;
  }
  
  #nav-columns{
  background-color: transparent;
  height:auto;
  margin: auto;
  
  }
  
  #column{
  background-color: transparent;
  cursor: default;
  width:100%;
  font-size: 1.2rem;
  color: #160c64;
  text-align:justify;
  margin: auto;
  
  
  }
  #column:focus{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);
  color: gray;
  border-radius: 15px; 
  }
  
  #column:enabled{
  background-color: red;
  } 
  
  #sidebar-icon{
  padding-right:15px;
  }   
  
  #column:active{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);
  }

  /* .form-submit{
    background-color: rgb(24, 35, 237);    
  } */

.container-form{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);
    display: flex;
    position: relative;
    flex-direction: row; 
    flex-wrap:wrap;
    padding: 20px;
    white-space:normal;
    margin: auto; 
    min-height: 280px;
    max-height: 600px;
    min-width: 300px;
    max-width:850px;
    border-radius: 15px;
    color: #fff;
    left: 80px;
    top: 80px;
}
 

.title-form{
  display: flex;
  position: relative;
  margin: auto;
  right: 140px;
  top: 60px; 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);
  align-items: center;
  justify-content: center;
 text-align: center;
  font-size:1.2rem;
  height: 50px;
  min-width: 100px;
  max-width: 250px;
  border-radius: 5px;
  color: #fff;
} 

#send-form{
  top: 32px;
  right: 0px;
  position: relative; 
  width: 100px;
  height: 40px;
  background-color: rgb(205, 192, 192);
}

input{
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  width: 150px;
  height: 40px;
  padding-left:2px;
  padding-right: 2px;
}

/* #nav-profiles{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,65,222,1) 100%);
  width: 250px;
  height: 40px;
  position: relative;
  padding-left: 100px;

}

#icon-profiles:hover{
color: red;
} */